@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --mainColor: #ffffff;
    --secondColor: #efefefa3;
}

body {
   font-family: "Roboto", Verdana, Arial, sans-serif;
   font-size: 100%;
 background-color: #efefefa3;    
}

fieldset a{
    margin-left: 5px;
    font-weight: 600;
    text-decoration: underline;
    color: #ff2a04;
}

.login{
       background-color: rgb(70, 180, 224);
}
section {
    margin:  25px auto;
   width: 50%;
   border-radius: 22px;

}
section h1 {
       border-radius: 22px 0 22px 0;

  color: white;
  padding: 0.75rem;
  background-color: #263238; 
}
fieldset{
    padding:70px;

align-items: center; 
justify-content: center;
}

form input:focus {
    font-size: 15px;
    background-color: #bbe8ff ;
    outline: none;
        border:none;

    border-bottom: 2px solid black;
}

form input[type="text"],form input[type="password"]{
    font-size: 15px;
    background-color: #e4e4e4d7 ;
    outline: none;
        border:none;
height: 30px;
width: 180px;
border-radius: 30px;
padding: 10px;
    border-bottom: 2px solid black;
}
label::before{
    content: "* ";
    color: red;
}


/* form formatting */

form{
    padding: 20px;
    
  text-align: center;

}
fieldset >label{
    display: block;
    font-weight: 600;
    margin: 10px 40px 2px 10px;
    font-size: 1.2em;
    
}
legend {
	background-color: #607D8B; 
	color: white;
    padding: 5px;

}
caption{
    width: 100%;
}


input[type=submit] {
   background-color: #e27517;
    color: white;
    font-size: 1.1em;
    border-style: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
    
}
input[type=submit]:hover {
    background-color: #ff8a23;
        font-size: 1.2em;

}

.error {
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 7px;
    background-color: #ff7b7b;
}